.container {
    width: 100%
}

.films-list {
    width: 100%;
    margin: 14px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.films-list article {
    max-width: 300px;
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
}

.films-list strong {
    text-align: center;
    font-size: 20px;
    display: block;
    margin-top: 12px;
}

.films-list img {
    width: 900px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.films-list a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 20px;
    background-color: #cdd2ff;
    text-decoration: none;
    color: #000;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.films-list a:hover {
    background-color: #367a9c;
    color: #fff;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}