.films-container {
    width: 100%;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.films-container h1 {
    padding-bottom: 14px;
    text-transform: uppercase;
}

.films-container p {
    font-size: 18px;
}


.films-container ul {
    max-width: 720px;
    width: 100%;
}

.films-container ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.films-container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.films-container div a {
    text-decoration: none;
    color: #116feb;
    margin-right: 14px;
}

.films-container button,
.films-container a {
    margin: 14px 12px 0 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.films-container button:hover {
    background-color: rgb(25, 25, 48);
    color: #fff;
}

.films-container a:hover  {
    color: rgb(25, 25, 48);
}
